[submodule "tower/tower"]
	path = tower/tower
	url = git@github.com:tower-rs/tower.git
[submodule "tower/tower-grpc"]
	path = tower/tower-grpc
	url = git@github.com:tower-rs/tower-grpc.git
[submodule "tower/tower-http"]
	path = tower/tower-http
	url = git@github.com:tower-rs/tower-http.git
[submodule "tower/tower-h2"]
	path = tower/tower-h2
	url = git@github.com:tower-rs/tower-h2.git
